<!-- <%for(var i=0;i< msg.length; i++){%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p><%= msg[i].msg%></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%}%> -->
  <%for(var i=0;i <msg.length; i++){%>
    <p><%= msg[i].msg%></p>
  <%}%>