<%- include('../partial/header2')%>
 <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <a class="aa-property-home" href="/property/Home">Property Home</a>
                <h4>Reset Password</h4>
              </div>
              <%- include('../partial/messages')%>
              <form class="contactform" action="/user/resetPassword" method="POST">                                                 
                <div class="aa-single-field">
                  <label for="newpass">NewPassword</label>
                  <input type="password" required="required" aria-required="true" value="" name="newpass">
                </div>
                <div class="aa-single-field">
                  <label for="password">ConfirmPassword</label>
                  <input type="password" name="confirmpass" required="required"> 
                </div>
                <div class="aa-single-submit">
                  <input type="submit" value="Reset" class="aa-browse-btn" name="submit">  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../partial/footer2')%>